
[name="segment_stars"] {
	font-family: FontAwesome;
	font-style: normal;
}

[name="segment_name"] {
	border-color: #ddd;
}

[name="segment_size"] {
	background-color: #fff;
	max-width: 4em;
}

[name="segment_damage"] {
	background-color: #fff;
	max-width: 5em;
}

.segments, .figure-move {
	cursor: move;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.segments {
	counter-reset: segment;
}

.segment {
	position: relative;
	transition: background-color 400ms, opacity 400ms;
}

.segment h5 {
	font-weight: bold;
}

.segment h5:after {
	counter-increment: segment;
	content: " " counter(segment) ": ";
}

.segment.gu-mirror h5:after {
	content: " ?: ";
}

.segment > .delete-segment {
	position: absolute;
	top: 4px;
	right: 4px;
	display: block;
	cursor: pointer;
	font-size: 24px;
}

.figure-header {
	font-size: 0.85em;
}
.figure-header label {
	padding-left: 0;
	padding-right: 0;
}
.figure-header label span {
	font-size: 12px;
}

.segment .form-group:last-of-type {
	margin-bottom: 0;
}

.figure-moveset {
	border-collapse: separate;
	border-spacing: 0;
	background-color: #111;
	border-color: #111;
	color: #000;
}

.figure-moveset th {
	border-width: 0 1px !important;
}
.figure-moveset th:first-child {
	border-left-width: 4px;
}
.figure-moveset th:last-child {
	border-right-width: 4px;
}

.figure-moveset thead {
	background-color: #015;
	color: #77b;
}

.figure-move.red-move tr:first-child,
.figure-move.red-move .figure-move-size-container:before,
.figure-move.red-move .figure-move-size-container:after { background-color: #e04c4c; }
.segment-type[value="RED"]:hover { background-color: #e04c4c; }
.figure-move.red-move td { border-color: #cc2323; }
.figure-move.red-move td.figure-move-size-container { background-color: #cc2323; }
.figure-move.red-move tr:nth-child(2) td { background-color: #f7cece; }

.figure-move.white-move tr:first-child,
.figure-move.white-move .figure-move-size-container:before,
.figure-move.white-move .figure-move-size-container:after { background-color: #eee; }
.segment-type[value="WHITE"]:hover { background-color: #eee; }
.figure-move.white-move td { border-color: #d5d5d5; }
.figure-move.white-move td.figure-move-size-container { background-color: #cfcfcf; }
.figure-move.white-move tr:nth-child(2) td { background-color: #fff; }

.figure-move.gold-move tr:first-child,
.figure-move.gold-move .figure-move-size-container:before,
.figure-move.gold-move .figure-move-size-container:after { background-color: #e9d149; }
.segment-type[value="GOLD"]:hover { background-color: #e9d149; }
.figure-move.gold-move td { border-color: #dabe1a; }
.figure-move.gold-move td.figure-move-size-container { background-color: #dabe1a; }
.figure-move.gold-move tr:nth-child(2) td { background-color: #faf4d2; }

.figure-move.purple-move tr:first-child,
.figure-move.purple-move .figure-move-size-container:before,
.figure-move.purple-move .figure-move-size-container:after { background-color: #ca6fe6; }
.segment-type[value="PURPLE"]:hover { background-color: #ca6fe6; }
.figure-move.purple-move td { border-color: #b73bdd; }
.figure-move.purple-move td.figure-move-size-container { background-color: #b73bdd; }
.figure-move.purple-move tr:nth-child(2) td { background-color: #faf1fd; }

.figure-move.blue-move tr:first-child,
.figure-move.blue-move .figure-move-size-container:before,
.figure-move.blue-move .figure-move-size-container:after { background-color: #52bce8; }
.segment-type[value="BLUE"]:hover { background-color: #52bce8; }
.figure-move.blue-move td { border-color: #1ea6df; }
.figure-move.blue-move td > .figure-move-size-container { background-color: #1ea6df; }
.figure-move.blue-move tr:nth-child(2) td { background-color: #d9f0fa; }

.figure-moveset td, .figure-moveset th, .figure-moveset thead { border-color: #111; }
.figure-moveset th { font-size: 0.8em; }
.figure-moveset tr { height: 1em; line-height: 1em; }
.figure-moveset .figure-move-separator { height: 2px; }
.figure-moveset .figure-move-size-container { width: 4em; }
.figure-moveset .figure-move-damage { width: 4em; }
.figure-moveset td.figure-move-name { border-right: none; }
.figure-moveset td.figure-move-damage { border-left: none; }
.figure-moveset .figure-move:hover:not(.gu-mirror) { opacity: 0.9; }

.figure-move.star-count .figure-move-name:after { font-family: FontAwesome; padding-left: 1em; }
.figure-move.star-count-1 .figure-move-name:after { content: "\f005"; }
.figure-move.star-count-2 .figure-move-name:after { content: "\f005 \f005"; }
.figure-move.star-count-3 .figure-move-name:after { content: "\f005 \f005 \f005"; }

.figure-move .figure-move-size-container {
	position: relative;
}

.figure-move .figure-move-size {
	position: relative;
	z-index: 2;
}

.figure-move .figure-move-size-container:before,
.figure-move .figure-move-size-container:after {
	content: "";
	display: block;
	width: 45%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
.figure-move .figure-move-size-container:before {
	border-radius: 100% 0 0 0;
	left: 5%;
}
.figure-move .figure-move-size-container:after {
	right: 5%;
	border-radius: 0 100% 0 0;
}

.figure-move.gu-mirror {
	width: 100%;
	display: table;
	border: none;
}

.figure-move-effect {
	line-height: 1em;
}

.card-inverse {
	background-color: #111;
	border-color: #222;
}

.figure-display-notification {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	color: #000;
	z-index: 3;
}

.figure-wheel-container svg {
	height: 100%;
}

.figure-wheel,
.figure-wheel svg {
	max-width: 100%;
}
